@using System.Collections
@using DeveloperTools.Models
@using EPiServer.Shell
@inherits System.Web.Mvc.WebViewPage<IEnumerable<DeveloperTools.Models.RouteModel>>

@{
    Layout = Paths.ToResource("EPiServer.DeveloperTools", "Views/Shared/DevToolsMaster.cshtml");
}

<div class="epi-contentArea">
    <h1 class="EP-prefix">Routes</h1>
    <p>
        Dumps all routes registered in the Application and you can find out which routes can handle a request.
    </p>
</div>
<div class="epi-formArea">
    <div>
        @using (Html.BeginForm("Index", "Routes", new { }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <span>@Html.Label("Url"):</span> <span>@Html.TextBox("url", "http://", new { style="width:80%" })</span>

            <span class="epi-cmsButton">
                <input type="submit" value="Find Route" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Search"/>
            </span>
        }
    </div>
    <br/>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="theList">
        <thead>
        <tr>
            <th align="left">Order</th>
            <th align="left">Name</th>
            <th align="left">Type</th>
            <th align="left">Url</th>
            <th align="left">RouteHandler </th>
            <th align="left">Defaults </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model)
        {
            <tr @(entry.IsSelected ? "style='background-color:LightGreen'" : string.Empty)>
                <td>@entry.Order</td>
                <td>@entry.Name</td>
                <td>@entry.Type</td>
                <td>@entry.Url</td>
                <td>@entry.RouteHandler</td>
                <td>@entry.Defaults</td>
            </tr>
            if (entry.IsSelected)
            {
                <tr style='background-color: LightGreen'>
                    <td>@entry.Order</td>
                    <td></td>
                    <td>@entry.DataTokens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style='background-color: LightGreen'>
                    <td>@entry.Order</td>
                    <td></td>
                    <td>@entry.Values</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
        </tbody>
    </table>

</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#theList').dataTable(
            {
                "aaSorting": [[0, "asc"]],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": true
            });
    });
</script>
}