@using System.Collections
@using DeveloperTools.Models
@using EPiServer.Shell
@inherits System.Web.Mvc.WebViewPage<DeveloperTools.Models.RemoteEventsModel>

@{
    Layout = Paths.ToResource("EPiServer.DeveloperTools", "Views/Shared/DevToolsMaster.cshtml");
}

<div class="epi-contentArea">
    <h1 class="EP-prefix">A tool uses for show diagnostic and statical Remote Events</h1>
    <p>
        Configuration status: <strong>@(Model.Enabled ? "Enabled" : "Disabled")</strong><br />
        Provider: <strong>@Model.ProviderName</strong> (@Model.ProviderType)<br />
        Remote servers: <strong>@Model.ServerState.Count()</strong><br />
        Licensed servers: <strong>@Model.ActiveServers.Count()</strong> (@string.Join(", ", Model.ActiveServers))
    </p>
</div>

<div class="epi-contentArea epi-formArea">
    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable" id="serverList">
        <thead>
            <tr>
                <th align="left">Server</th>
                <th align="left">Application</th>
                <th align="left">Last Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.ServerState)
            {
            <tr>
                <td>@s.ServerName</td>
                <td>@s.ApplicationName</td>
                <td>@s.LastContact</td>
            </tr>
            }
        </tbody>
    </table>

    <p style="margin-bottom: .5em">
        Number of Event Types: <strong>@(Model.RemoteEventModel !=null ? Model.RemoteEventModel.Count() : 0).</strong><br />
        Total Number of Sent Events: <strong>@Model.TotalNumberOfSentEvent.</strong><br />
        Total Number of Received Events: <strong>@Model.TotalNumberOfReceivedEvent.</strong>
    </p>

    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable" id="eventList">
        <thead>
            <tr>
                <th align="left">Name</th>
                <th align="left">Guid</th>
                <th align="left">Number of Sent Events</th>
                <th align="left">Number Of Received Events</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.RemoteEventModel)
            {
            <tr>
                <td>@m.Name</td>
                <td>@m.Guid</td>
                <td>@m.NumberOfSent</td>
                <td>@m.NumberOfReceived</td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    <div>
        @using (Html.BeginForm("Index", "RemoteEvent", new { }, FormMethod.Post))
        {
            <span>@Html.Label("EventId"):</span> <span>@Html.TextBoxFor(m => m.SendRemoteEventModel.EventId)</span>
            <span>@Html.Label("Param"):</span> <span>@Html.TextBoxFor(m => m.SendRemoteEventModel.Param)</span>
            <span>@Html.Label("Number Of Events"):</span> <span>@Html.TextBoxFor(m => m.SendRemoteEventModel.NumberOfevents)</span>
            <input type="submit" value="Send Message" />
            <span>Sent message: @Model.SendRemoteEventModel.NumberOfeventsSent</span>
        }
    </div>
</div>
