@model EPiServer.DeveloperTools.Features.IoC.IOCModel

<div class="epi-contentArea">
    <h1 class="EP-prefix">IoC Container</h1>
    <p>
        Dumps all types registered in the Dependency Injection container (aka Service Collection) used by Optimizely.
    </p>
</div>
<div class="epi-formArea">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="theList">
        <thead>
        <tr>
            <th align="left">PluginType</th>
            <th align="left">ConcreteType</th>
            <th align="left">ImplementationFactory</th>
            <th align="left">ImplementationInstance</th>
            <th align="left">Scope</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model.IOCEntries)
        {
            <tr>
                <td>@entry.PluginType</td>
                <td>@entry.ConcreteType</td>
                <td>@entry.ImplementationFactory</td>
                    <td>@entry.ImplementationInstance</td>
                <td>@entry.Scope</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section AdditionalScripts {
<script>
    $(document).ready(function () {
        $('#theList').dataTable(
            {
                "aaSorting": [[1, "desc"]],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": true
            });
    });
</script>
}
