@using DeveloperTools.Models
@using EPiServer.Shell
@inherits System.Web.Mvc.WebViewPage<IEnumerable<EPiServer.DataAbstraction.TemplateModel>>

@{
    Layout = Paths.ToResource("EPiServer.DeveloperTools", "Views/Shared/DevToolsMaster.cshtml");
}

<div class="epi-contentArea">
    <h1 class="EP-prefix">Templates</h1>
    <p>Show a list of all templates registered in the system by querying each content type for its templates and then making a summarized list of the unique templates found.</p>
</div>
<div class="epi-formArea">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="theList">
        <thead>
        <tr>
            <th align="left">Name</th>
            <th align="left">Category</th>
            <th align="left">Default</th>
            <th align="left">Inherit</th>
            <th align="left">Tags</th>
            <th align="left">AvailableWithoutTag</th>
            <th align="left">Path</th>
            <th align="left">Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Name</td>
                <td>@t.TemplateTypeCategory</td>
                <td>@(t.Default ? "yes" : "no")</td>
                <td>@(t.Inherit ? "yes" : "no")</td>
                <td>@(t.Tags == null ? "" : string.Join(",", t.Tags))</td>
                <td>@(t.AvailableWithoutTag ? "Yes" : "No")</td>
                <td>@t.Path</td>
                <td>@t.TemplateType</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#theList').dataTable(
            {
                "aaSorting": [[1, "desc"]],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": true
            });
    });
</script>
}
